
<!DOCTYPE html PUBLIC "-//w3c//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml1-transition.dtd">
<html xhtml="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Welcome to ClubComs</title>
</head>

<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Verdana:wght@400;500;600;700&display=swap');

  body {
    font-family: 'Arimo', sans-serif;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
  }

</style>

<!-- [if (gte mso 9)|(IE)]>
  <style type="text/css">
    a {
      font-weight: normal !important;
      text-decoration: none !important;
    }
  </style>
  <![endif] -->

<body style="background-color: #ffffff; font-family: 'Verdana', sans-serif; ">
  <table style="background-color: #ffffff; max-width: 600px; width: 100%; " align="center" cellspacing="0"
    cellpadding="0">
    <tr>
      <td>
        <table bgcolor="#32C4CF" border="0" cellspacing="0" cellpadding="0"
          style="max-width: 600px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: 100%; background-color: #32C4CF; padding: 24px 0px 24px 24px; position: relative; background-image: url('https://res.cloudinary.com/zudu/image/upload/v1688545986/ClubComs/Email_Template/bg_header.png'); ">
          <tr>
            <td style="color: #221747; font-size: 24px; line-height: 36px;">
              <img src="https://res.cloudinary.com/zudu/image/upload/v1688545264/ClubComs/Email_Template/logo.png" />
            </td>
            <!-- <td style="position: absolute; top: 0; right: 0;">
                <img src="https://res.cloudinary.com/zudu/image/upload/v1688545264/ClubComs/Email_Template/logo_right.png"/>
              </td> -->
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0"
          style="max-width: 600px; width: 100%; background-color: #ffffff; padding: 24px 24px;">
          <tr>
            <td height="10px" style="height: 10px"></td>
          </tr>
          <tr>
            <td
              style=" color: #1B252E; font-family: 'Verdana', sans-serif; font-size: 14px; line-height: 24px; padding: 0px;">
              Dear User,
            </td>
          </tr>
          <tr>
            <td height="20px" style="height: 20px"></td>
          </tr>
          <tr>
            <td
              style="color: #1B252E; font-weight: normal; font-size: 14px; line-height: 24px; font-family: 'Verdana', sans-serif; ">
              Thank you for choosing ClubComs! To ensure the security of your account, we kindly request you to complete
              the verification process.
            </td>
          </tr>
          <tr>
            <td height="20px" style="height: 20px"></td>
          </tr>
          <tr>
            <td
              style="color: #000000; letter-spacing: 12px; font-weight: 700; font-size: 20px; line-height: 24px; font-family: 'Verdana', sans-serif; border:1px solid #9194A1; padding:10px 0px 10px 10px; display: table; border-radius: 8px; ">
              {{otp}}
            </td>
            <tr>
              <td height="28px" style="height: 28px"></td>
            </tr>
            <tr>
              <td
                style="color: #1B252E; font-weight: normal; font-size: 14px; line-height: 24px; font-family: 'Verdana', sans-serif; ">
                Your otp will expire in {{otp_expires}} minutes. 
              </td>
            </tr>
          </tr>
            <td height="20px" style="height: 20px"></td>
          </tr>
          <tr>
            <td
              style=" color: #1B252E; font-weight: normal; font-size: 14px; line-height: 24px; font-family: 'Verdana', sans-serif; ">
              If you encounter any issues or require further assistance, please don't hesitate to reach out to our
              support team at <a
                style='color: #32C4CF; font-weight: 700; text-decoration: underline;'>info@clubcoms.com</a>. We are here
              to help you through the verification process and
              address
              any concerns you may have.
            </td>
          </tr>
          <tr>
            <td height="20px" style="height: 20px"></td>
          </tr>
          <tr>
            <td
              style=" color: #1B252E; font-weight: normal; font-size: 14px; line-height: 24px; font-family: 'Verdana', sans-serif; ">
              Thank you for your cooperation in completing the account verification process. We value your trust and are
              committed to providing you with a secure and reliable user experience.
            </td>
          </tr>
          <tr>
            <td height="20px" style="height: 20px"></td>
          </tr>
          <tr>
            <td
              style=" color: #1B252E; font-weight: normal; font-size: 14px; line-height: 24px; font-family: 'Verdana', sans-serif;">
              Thanks,<br>Team ClubComs
            </td>
          </tr>
          <tr>
            <td height="34px" style="height: 34px"></td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0"
          style="max-width: 600px; width: 100%; background-color: #fff; padding: 0px 24px; ">
          <tr>
            <td style='width: 100%; height: 1px; background-color: #F2F2F7;'></td>
          </tr>
          <tr>
            <td height="24px" style="height: 24px"></td>
          </tr>
          <tr>
            <td
              style=" font-family: 'Verdana', sans-serif;font-size: 12px; line-height: 20px; font-weight: 400; color: #565C66;">
              ©Coms Enterprises Ltd. <a style='color: #565C66; text-decoration: none;'>71-75 Shelton Street, Covent
                Garden, London, WC2H
                9JQ</a>.
            </td>
          </tr>
          <tr>
            <td height="24px" style="height: 24px"></td>
          </tr>
          <tr>
            <td style='width: 50%; display: inline-block;'>
              <img
                src='https://res.cloudinary.com/zudu/image/upload/v1688549762/ClubComs/Email_Template/footer_logo.png' />
            </td>
            <td style='width:50%; display: inline-block; text-align: right;'>
              <a style='display: inline-block; padding: 0 5px;'>
                <img
                  src='https://res.cloudinary.com/zudu/image/upload/v1688549762/ClubComs/Email_Template/twitter.png' />
              </a>
              <a style='display: inline-block; padding: 0 5px;'>
                <img
                  src='https://res.cloudinary.com/zudu/image/upload/v1688549762/ClubComs/Email_Template/facebook.png' />
              </a>
              <a style='display: inline-block; padding: 0 0px 0 5px; '>
                <img
                  src='https://res.cloudinary.com/zudu/image/upload/v1688549762/ClubComs/Email_Template/instagam.png' />
              </a>
            </td>
          </tr>
          <tr>
            <td height="40px" style="height: 40px"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
